/BossOrc.class
/Chest.class
/Coin.class
/CoinChest.class
/Collider.class
/Companion.class
/DefeatMenu.class
/EnterGame.class
/Game.class
/GameComponents.class
/GameFactory.class
/GameSlots.class
/Gamer.class
/GamersDatabase.class
/GreenOrc.class
/Helmet.class
/Hero.class
/HeroWins.class
/LoadGameMenu.class
/Main.class
/NewGame.class
/Orc.class
/PauseMenu.class
/Platform.class
/Player.class
/Position.class
/RedOrc.class
/SaveGameMenu.class
/Score.class
/ShopMenu.class
/Weapon.class
/WeaponChest.class
/fallingPlatform.class
/Hero$1.class
/Hero$2.class
/LoadGameMenu$1.class
/LoadGameMenu$2.class
/Orc$1.class
